node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Android build files
android/app/build/
android/build/
android/.gradle/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab

# Capacitor
ios/
.capacitor/